[submodule ".local/share/fonts/custom/SF Pro"]
	path = .local/share/fonts/SF Pro
	url = https://github.com/sahibjotsaggu/San-Francisco-Pro-Fonts
[submodule ".local/share/fonts/custom/Liga SF Mono Nerd Font"]
	path = .local/share/fonts/Liga SF Mono Nerd Font
	url = https://github.com/shaunsingh/SFMono-Nerd-Font-Ligaturized
[submodule ".mozilla/firefox/default"]
	path = .mozilla/firefox/default
	url = https://github.com/rohanssrao/foxium.git
