[Desktop Entry]
Name=Microsoft Word 2007
Exec=/var/home/chika/.local/bin/office-2007 WINWORD %u
Type=Application
Terminal=false
Categories=Application;
Icon=/var/home/chika/.var/app/com.usebottles.bottles/data/bottles/bottles/Microsoft-Office-2007/icons/WINWORD.png
Comment=Launch WINWORD using Bottles.
StartupWMClass=WINWORD
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=flatpak run com.usebottles.bottles -b 'Microsoft Office 2007'
