[Desktop Entry]
Version=1.1
Type=Application
Name=Desmos
Icon=/home/chika/.local/share/icons/custom/desmos.png
TryExec=/var/lib/flatpak/exports/bin/org.chromium.Chromium
Exec=flatpak 'run' '--command=/app/bin/chromium' 'org.chromium.Chromium' '--profile-directory=Default' '--app-id=camadmikkdcnjabhhkjnkegpnhbnjjkk'
Actions=
Categories=X-GNOME-Other;
StartupWMClass=crx_camadmikkdcnjabhhkjnkegpnhbnjjkk
